*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: Verdana, sans-serif;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #15202b;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 35px;
    padding: 0px 20px;
}

.navbar-title{
    align-items: center;
    gap: 10px;
}

.navbar-title a{
    text-decoration: none;
    color: #bfbfbf;
}

.logo{
    width: 3%;
    min-width: 45px;
}

.link-to-different-page{
    justify-content: center;
    text-decoration: none;
}

.btn{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #DC143C;
    border-radius: 3px;
    color: beige;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover{
    opacity: 0.7;
}

.fav-btn{
    font-size: 16px;
    width: 130px;
}

.search-block{
    min-width: 40%;
}

.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    z-index: 1;
}

.search-icon{
    background-color: #15202b;
    box-shadow: 0px 0px 7px 0px black;
    color: beige;
    height: 42px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 50px;
    border-radius: 10px 0 0 10px;
    /* z-index: 1; */
}

#search-bar{
    background: #15202b;
    color: beige;
    min-width: 550px;
    height: 42px;
    font-size: 25px;
    border: none;
    border-left: 5px solid beige;
    box-shadow: 0px 0px 7px 0px black;
    border-radius: 0 10px 10px 0;
    outline: none;
    padding: 10px;
    letter-spacing: 2px;
    margin-top: 50px;
    /* z-index: 1; */
}

#search-results {
    min-width: 435px;
    /* height: 500px; */
    margin-top: 30px;
    list-style: none;
    z-index: 2;
    backdrop-filter: blur(4px);
    /* overflow-y: scroll; */
}

#search-results li {
    background: rgba(56, 56, 56, 0.6);
    height: 100px;
    color: white;
    width: 100%;
}

#search-results li .hero-name {
    transition: all 0.2s ease;
    cursor: url(../images/thanos.png),auto;

}

#search-results li:hover .hero-name {
    color: red;
}

.single-search-result {
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: inherit;
}

.character-info {
    text-decoration: none;
    color: white;
}

.hero-info {
    display: flex;
    align-items: center;
}

.hero-name {
    /* cursor: url(../images/thanos.png),auto !important; */
    font-size: 26px;
}

.buttons {
    gap: 5px;
    padding: 0 10px;
}

.bg-image{
    width: 100%;
     min-width: 600px;
     height: auto;
     position: fixed;
     bottom: 1px;
     left: 0;
     right: 0;
     margin: auto;
}